.nurseryImageGallery {
  width: 100%;
}

.nurseryImage {
  height: 300px;
  width: 100%;
}

.nurseryInfo {
  width: 100%;
  /* margin-left: 10px; */
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
  color: rgba(10, 10, 10, 0.9);
  @media (max-width: 768px) {
    width: 100%;
    /* margin-left: 0px; */
  }
}

.nurseryHeadLine {
  font-size: 22px;
  color: #14195d;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 2px 0px;
}

.dividerLine {
  margin: 1px 10px 10px 0px;
  width: 100px;
  height: 3px;
  transform: scale(1, 1);
  visibility: visible;
  background-color: #14195d;
  margin:0 auto;
}

.nurseryContainer {
  padding: 30px 8px 10px 18px;
  width: 34%;
  float:right;
  margin-right:10%;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0px;
    padding: 0px 1px 0px 1px;
  }
}

.nurseryImageContainer {
  width: 100%;
  margin-top: 20px;
  @media (max-width: 768px) {
    width: 99%;
    margin-top: 10px;
  }
}

.clearfix {
  clear: both;
}
