.sansadImageGallery {
  width: 100%;
}

.sansadImage {
  height: 300px;
  width: 100%;
}

.sansadInfo {
  width: 100%;
  /* margin-left: 10px; */
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
  color: rgba(10, 10, 10, 0.9);
  @media (max-width: 768px) {
    width: 100%;
    /* margin-left: 0px; */
  }
}

.sansadHeadLine {
  font-size: 22px;
  color: rgb(20, 25, 93, 0.94);
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 2px 0px;
}

.dividerLine {
  margin: 1px 10px 10px 0px;
  width: 180px;
  height: 3px;
  transform: scale(1, 1);
  visibility: visible;
  background-color: rgb(20, 25, 93, 0.94);
  margin: 0 auto;
}

.sansadContainer {
  padding: 30px 8px 10px 18px;
  width: 34%;
  margin-left: 10%;
  float:left;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0px;
    padding: 0px 1px 0px 1px;
  }
}

.sansadImageContainer {
  width: 100%;
  margin-top: 20px;
  @media (max-width: 768px) {
    width: 99%;
    margin-top: 10px;
  }
}

.clearfix {
  clear: both;
}
