.banner {
  height: 700px;
  max-width: 100%;
  width: 100%;
  background-position-y: 20%;
  background-size: cover;
  float: left;
}

.bannerImg1 {
  height: 500px;
  max-width: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../../images/1708930666951.jpg");
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
  @media only screen and (max-width: 768px) {
    background-size: 100% 100%;
    height: auto;
  }
}

.bannerImg2 {
  height: 500px;
  max-width: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../../images/img01.jpeg");
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
  @media only screen and (max-width: 768px) {
    background-size: 100% 100%;
    height: auto;
  }
}

.bannerInfo {
  color: rgba(255, 255, 255, 2.6);
  padding-top: 6%;
  padding-left: 10%;
  @media only screen and (max-width: 768px) {
    padding-top: 5%;
  }
  .bannerHeader {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 69px;
    word-wrap: break-word;
    letter-spacing: 3px;
    span {
      color: #ffc235;
    }
    @media only screen and (max-width: 768px) {
      font-size: 21px;
      font-weight: normal;
      line-height: normal;
      margin-top: 3%;
    }
  }
  .exploreMoreBtn {
    position: relative;
    font-family: redhatdisplay;
    background-color: #14195d;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 27px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    word-wrap: break-word;
    padding: 15px 50px 15px 35px;
    cursor: pointer;
    @media only screen and (max-width: 768px) {
      font-size: 13px;
      font-weight: 600;
      padding: 10px 50px 10px 35px;
    }
  }
}

.arrowRight {
  position: absolute;
  right: 19px;
  top: 20px;
  @media only screen and (max-width: 768px) {
    padding: 10px 50px 10px 35px;
    right: -28px;
    top: 6px;
  }
}

.bannerContainer {
  min-height: 0;
  min-width: 0;
}
