.banner {
  height: 700px;
  max-width: 100%;
  width: 100%;
  background-position-y: 20%;
  background-size: cover;
  float: left;
}

.bannerImg1 {
  height: 700px;
  max-width: 100%;
  width: 100%;
  background-position-y: 40%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../../images/1708930666943.jpg");
  background-size: cover;
  display: inline-block;
}

.bannerImg2 {
  height: 700px;
  max-width: 100%;
  width: 100%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../images/1708930666935.jpg");
  background-size: cover;
  display: inline-block;
}

.bannerInfo {
  color: rgba(255, 255, 255, 2.6);
  margin-top: 10%;
  margin-left: 10%;
  .bannerHeader {
    font-size: 35px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    line-height: 69px;
    word-wrap: break-word;
    line-height: 69px;
    letter-spacing: 3px;
  }
  .exploreMoreBtn {
    position: relative;
    font-family: redhatdisplay;
    background-color: #14195d;
    display: block;
    margin-top: 30px;
    border-radius: 27px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 2px;
    word-wrap: break-word;
    padding: 15px 50px 15px 35px;
  }
}
.arrowRight {
  position: absolute;
  right: 19px;
  top: 20px;
}

.bannerContainer {
  min-height: 0;
  min-width: 0;
}
