.dividerLine {
  margin: 10px auto 20px auto;
  width: 250px;
  height: 3px;
  transform: scale(1, 1);
  visibility: visible;
  background-color: #14195d;
}

.feedbackSection h2 {
  text-align: center;
  margin-top: 10px;
}
.feedbackSection h3 {
  text-align: center;
}

.feedbackContainer {
  padding: 0px 6% 0px 6%;
  margin: 2% 0px 6% 0px;
}

.feedbackSection {
  background-color: #f4f4f4;
  padding: 10px;
  padding-bottom: 60px;
}
.feedbackInfo {
  background-color: #14195d;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 98% !important;
  height: auto;
  min-height:160px;
  letter-spacing: 1px;
  max-height: 250px;
  position: relative;
  margin-bottom: 70px;
  min-height: 150px;
   margin: 0px 10px 70px 10px;
  @media only screen and (max-width: 700px) {
    width: 100% !important;
  }
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: grey;
  margin: 0px auto;
  vertical-align: middle;
  text-align: center;
  span {
    padding-top: 13px;
    display: inline-block;
  }
}

.writetestimonialBtn {
  position: relative;
  font-family: redhatdisplay;
  background-color: #14195d;
  display: block;
  margin-top: 30px;
  border-radius: 27px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1px;
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
  padding-left: 35px;
  margin: 20px auto;
  cursor: pointer;
}

.reviewerName {
  font-size: 17px;
  font-weight: 700;
  color: black;
  text-align: justify;
  position: absolute;
  bottom: -59px;
  right: 70px;
  text-wrap: nowrap;
  text-align: center;
  margin: 0 auto;
  width: 66%;
}

.bottomArrow::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  bottom: -21px;
  border-top: 22px solid #14195d;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
